<!DOCTYPE html>
<html lang="zh">
<head>
    <th:block th:include="include :: header('基本表单')"/>
    <th:block th:include="include :: jquery-steps-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>申请送货</h5>
                </div>
                <div class="ibox-content">
                    <form action="/front/saveUser" class="wizard-big" id="form"
                          method="post">
                        <h1>验证卡号信息</h1>
                        <fieldset>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input class="form-control required disabled" id="cardNo"
                                           name="cardNo"
                                           readonly th:value="*{t}"
                                           type="text">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input class="form-control required"
                                           id="cardPassword"
                                           name="cardPassword" placeholder="请输入卡密码"
                                           type="text">
                                </div>
                            </div>
                        </fieldset>
                        <h1>商品信息</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="contact-box">
                                        <a href="#">
                                            <div class="col-sm-4">
                                                <div class="text-center">
                                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/1.jpg">
<!--                                                    <div class="m-t-xs font-bold">CTO</div>-->
                                                </div>
                                            </div>
                                        </a>
                                        <div class="col-sm-8">
                                            <ul>
                                                <li>
                                                    <p><strong>商品信息</strong> ： </p>
                                                    <select class="form-control" name="cardShop">
                                                        <option>陕西红富士苹果12个85mm果径礼品装</option>
                                                        <option>陕西红富士苹果18个75mm果径普通装</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <p><strong>价格</strong> ： 118 元</p>
                                                </li>
                                                <li>
                                                    <p><strong>销售日期</strong> ： 全年</p>
                                                </li>
                                                <li>
                                                    <p><strong>配送范围</strong> ： 新疆，西藏，港澳台等偏远地区除外</p>
                                                </li>
                                            </ul>
<!--                                            <h3><strong>奔波儿灞</strong></h3>-->
<!--                                            <p><i class="fa fa-map-marker"></i> 甘肃·兰州</p>-->
                                        </div>
                                    <div class="clearfix"></div>
                                    </div>
                                </div>


                                        <!--                                <div class="contact-box">-->

<!--                               -->
<!--                                            -->
<!--                                            <div class="p-xs">-->
<!--                                        <div class="feed-element">-->
<!--                                            <a class="pull-left" href="#">-->
<!--                                                <img alt="image" class="img-circle"-->
<!--                                                     src="img/1.jpg">-->
<!--                                            </a>-->
<!--                                            <div class="media-body">-->
<!--                                                <ul>-->
<!--                                                    <li>-->
<!--                                                        <p><strong>商品信息</strong> ： </p>-->
<!--                                                        <select class="form-control" name="cardShop">-->
<!--                                                            <option>陕西红富士苹果12个85mm果径礼品装</option>-->
<!--                                                            <option>陕西红富士苹果18个75mm果径普通装</option>-->
<!--                                                        </select>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <p><strong>价格</strong> ： 118 元</p>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <p><strong>销售日期</strong> ： 全年</p>-->
<!--                                                    </li>-->
<!--                                                    <li>-->
<!--                                                        <p><strong>配送范围</strong> ： 新疆，西藏，港澳台等偏远地区除外</p>-->
<!--                                                    </li>-->
<!--                                                </ul>-->

<!--&lt;!&ndash;-->
<!--                                                <div class="col-sm-5">-->
<!--                                                    <dl class="dl-horizontal">-->
<!--                                                        <dt>商品信息：</dt>-->
<!--                                                        <dd>-->
<!--                                                            <select class="form-control" name="cardShop">-->
<!--                                                                <option>陕西红富士苹果12个85mm果径礼品装</option>-->
<!--                                                                <option>陕西红富士苹果18个75mm果径普通装</option>-->
<!--                                                            </select>-->
<!--                                                        </dd>-->
<!--                                                        <dt>销售日期：</dt>-->
<!--                                                        <dd>全年</dd>-->
<!--                                                        <dt>配送范围：</dt>-->
<!--                                                        <dd>新疆，西藏，港澳台等偏远地区除外</dd>-->
<!--                                                    </dl>-->
<!--                                                </div>-->
<!--                                                    <small class="pull-right">2小时前</small>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <strong id="cardShop"&ndash;&gt;-->
<!--&lt;!&ndash;                                                        name="cardShop"></strong>&ndash;&gt;-->
<!--                                                <br>-->
<!--                                                &lt;!&ndash;                                                <small class="text-muted">2014.11.8 12:22</small>&ndash;&gt;-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="clearfix"></div>-->
<!--                                </div>-->
                            </div>
                        </fieldset>
                        <h1>完善收货信息</h1>
                        <fieldset>
                            <div class="row" id="city_china">
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="form-control required"
                                                   id="userName"
                                                   name="userName" placeholder="收货人姓名"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="form-control required"
                                                   id="phone"
                                                   name="phone" placeholder="收货人电话"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <select class="province form-control m-b"
                                                    data-first-title="选择省"
                                                    name="province">
                                                <option value="">请选择</option>
                                                <option selected value="陕西省">陕西省</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <select class="city form-control m-b"
                                                    data-first-title="选择市" name="city">
                                                <option value="">请选择</option>
                                                <option selected value="西安市">西安市</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <select class="area form-control m-b"
                                                    data-first-title="选择地区" name="area">
                                                <option value="">请选择</option>
                                                <option selected value="临潼区">临潼区</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="form-control required"
                                                   id="address"
                                                   name="address" placeholder="详细地址"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <input class="form-control"
                                                   id="remark"
                                                   name="remark" placeholder="备注"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!--                        <h1>请确认商品信息</h1>-->
                        <!--                        <fieldset>-->
                        <!--                        </fieldset>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jquery-steps-js"/>
<th:block th:include="include :: jquery-cxselect-js"/>
<script>
    $(document).ready(function () {
        var prefix = ctx + "front";
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex) {
                var form = $(this);
                form.validate().settings.ignore = ":disabled,:hidden";
                return form.valid()
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
            },
            onFinishing: function (event, currentIndex) {
                var form = $(this);
                form.validate().settings.ignore = ":disabled";
                return form.valid()
            },
            onFinished: function (event, currentIndex) {
                var form = $(this);
                form.submit()
            }
        }).validate({
            errorPlacement: function (error, element) {
                element.before(error)
            },
            rules: {
                cardPassword: {
                    remote: {
                        url: prefix + "/checkPassword",
                        type: "post",
                        dataType: "json",
                        data: {
                            "cardNo": function () {
                                return $.common.trim($("#cardNo").val());
                            },
                            "cardPassword": function () {
                                return $.common.trim($("#cardPassword").val());
                            },
                        },
                        dataFilter: function (data, type) {
                            let obj = $.parseJSON(data)
                            if (obj.code === 0) {
                                $("#cardShop").text(obj.data.cardShop)
                                return true
                            } else {
                                return false
                            }
                        }
                    }
                },
                phone: {
                    minlength: 11,
                    maxlength: 11
                }
            },
            messages: {
                cardPassword: {
                    remote: icon + "帐号密码错误!!或此卡已被使用"
                },
                phone: {
                    minlength: icon + "请输入正确的手机号",
                    maxlength: icon + "请输入正确的手机号"
                }
            }
        })

        var urlChina = 'delivery/json/cityData.json';
        $.cxSelect.defaults.url = urlChina;
        $('#city_china').cxSelect({
            selects: ['province', 'city', 'area']
        });
    });
</script>
</body>
</html>
